* {
    padding: 0px;
    margin: 0px;

}
body{
    background-color: rgb(17, 41, 51);
}
.title {
    height: 10vh;
    margin: auto;
background-color: white;

}

.title h1 {
    margin-left: 10vh;
    color: rgb(64, 63, 63);
    padding: 1%;
}

.to-do-app {
    height: 90vh;
    display: flex;
    justify-content: center;
   
}

.input-task {
    margin-top: 5%;
    background-color: white;
    height: 60vh;
    width: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.3%;
   
}


#title-input {
    padding-left: 1em;
    height: 2.1em;
    font-size: 1.3em;
}

#desc-input {
    padding-left: 1em;
    padding-top: 0.5em;
    font-size: 1.4em;
}

.save-btn {
    background-color: rgb(9, 102, 7);
    border: none;
    cursor: pointer;
    color: white;
    height: 2.5em;
    font-size: 1.2em;
}

.save-btn:hover {
    scale: 1.01;
    
}

.save-btn:active {
    scale: 0.96;
}




.list-task{
    display: flex;
    flex-direction: column;
    width: 95vh;
    margin: 1em;
    margin-left: 3em;
    margin-bottom: 15em;
}

.nav-task{
    display: flex;
    justify-content: space-between;
    font-size: 1.4em;
    color: white;
    padding: 1em;
    align-items: center;
}

.hr{
    background-color: rgb(67, 66, 66);
    width: 100vh;
    margin-left: 1em;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    height: 4vh;
    width: 100%;
    padding: 1em;
    margin: 1em;
    border-radius: 2px;
    background-color: white;
    font-size: 1.1em;
    font-weight: 500;
    
}
.task button{
    height: 80%;
    width: 2.5em;
    background-color: red;
    border: none;
color: white;
margin-left: 10%;
font-weight: 700;
}
.task button:hover{
    scale: 1.1;
}
.task button:active{
    scale: 0.9;
}

.title-list{
    width: 20%;
    text-transform: capitalize;
    
}
.des-list{
    width: 60%;
   
}

.reset{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vh;
    height: 5vh;
    border: none;
      margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: rgb(9, 102, 7);
   font-size: 1.3em;
   
   cursor: pointer;
   color: white;
}

.reset:hover {
    scale: 1.01;
    
}

.reset:active {
    scale: 0.96;
}